{% include 'includes/_messages.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/biogasloc.css">
    <title>Biogas Locations</title>
</head>
<body>
    <div class="container3">
        <h1><center>Locations</center></h1>
        <hr>
        <table class="table table-striped">
            <tr>
                <th><h3>Name</h3></th>
                <th><h3>Branch</h3></th>
                <th><h3>Year</h3></th>
                <th><h3>Hostel</h3></th>
                <th><h3>Room type</h3></th>
                <th><h3>Preferences</h3></th>
                <th><h3>Action</h3></th>
            </tr>
                {%for i in list%}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.branch}}</td>
                    <td>{{i.year}}</td>
                    <td>{{i.hostel}}</td>
                    <td>{{i.room}}</td>
                    <td>{{i.preferences}}</td>
                    <td><button type="submit" class="btn btn-success"><a href="/accepted" style="color: aliceblue;">Accept</a></button></td>
                    <td><button type="submit" class="btn btn-danger"><a href="/rejected" style="color: aliceblue;">Reject</a></button></td>
                </tr>
                {%endfor%}
        </table>
    </div>
</body>
</html>