{%extends 'layout.html'%}

{%block body%}
    
<!-- 
CREATE TABLE clothpickup (
	address varchar(255) NOT NULL,
	phoneno varchar(255) NOT NULL,
	photo blob(255) NOT NULL,
	items varchar(255) NOT NULL,
	quantity varchar(255) NOT NULL,
	quality bigint NOT NULL,
	state varchar(255) NOT NULL,
	city varchar(255) NOT NULL,
	pincode varchar(255) NOT NULL
); -->

<!-- filling tables address,phone numbverm photo, itensm, quantity, quality, state, city, pincopde -->
<div>
<h2><center>CLoth pickup, fill the form below</center></h2>
<form action="clothpickup" method="post" enctype="multipart/form-data">
<div class="form-group">
<label for="address">Address</label>
<input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
<label for="phoneno">Phone Number</label>
<input type="text" class="form-control" id="phoneno" name="phoneno" placeholder="Enter phone number">
<!-- <label for="photo">Photo</label>
<input type="file" class="form-control" id="photo" name="photo" placeholder="Enter photo"> -->
<label for="items">Items</label>
<input type="text" class="form-control" id="items" name="items" placeholder="Enter items">
<label for="quantity">Quantity</label>
<input type="text" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity">
<label for="quality">Quality</label>
<input type="text" class="form-control" id="quality" name="quality" placeholder="Enter quality">
<label for="state">State</label>
<input type="text" class="form-control" id="state" name="state" placeholder="Enter state">
<label for="city">City</label>
<input type="text" class="form-control" id="city" name="city" placeholder="Enter city">
<label for="pincode">Pincode</label>
<input type="text" class="form-control" id="pincode" name="pincode" placeholder="Enter pincode">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

</div>
    
{%endblock%}