{% include 'includes/_navbar.html' %}
{% include 'includes/_messages.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/ewaste.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container1">
        <div><h2><center>E-Waste</center></h2></div><br>
        <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
            <div class="col">
            <div class="card">
                <img src="../static/drop.jpg" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">Drop at the nearest centre</h5>
                <p class="card-text">Looking to drop the little electronics? Find the nearest drop point at your location and drop your e-waste</p>
                <a href="ewasteloc" class="btn btn-primary">Find centres</a>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="../static/collect.jpg" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">Schedule a pickup</h5>
                <p class="card-text">Have waste of higher quantities? Schedule a pickup by our organizations and get the waste pickedup from your location!</p>
                <a href="ewasteschedule" class="btn btn-primary">Schedule</a>
                </div>
            </div>
            </div>
        </div>
      </div>
</body>