{% include 'includes/_navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/lpage.css">
    <title>Food Waste</title>
</head>
<body>
    <div class="container1">   
        <div><h2><center>Food Waste</center> </h2></div> <br>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
            <div class="card">
                <img src="..\static\donate.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Donate Food</h5>
                <p class="card-text">Have food of higher quantities? Then please donate to the needy.</p>
                <a href="foodpickup" class="btn btn-primary">Donate Now</a>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="..\static\bio.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Bio Gas</h5>
                <p class="card-text">Food has been wasted? Then Schedule a pickup from a Biogas organizations.</p>
                <a href="biogasloc" class="btn btn-primary">Find Centers</a>
                </div>
            </div>
            </div>            
        </div>
    </div>
</body>
