{% include 'includes/_navbar.html' %} {% include 'includes/_messages.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <h2><strong>Recycling At Home</strong></h2>
    <img src="../static/plasticathome.jpg" alt="" />
    <p>
      Recycling more at home does not require much effort if you spend some time
      to create a comprehensive recycling system. This system starts with having
      places to store your recycled materials in the house, whether this is a
      box, bin or bag. Keep the recycling container next to the trash can and
      will remind everyone to recycle as much as possible.
    </p>
    <p>Here are some simple tips to recycle more effectively at home:</p>
    <ol>
      <li>
        Flatten cardboard boxes so that you can fit more recyclables into your
        bin.
      </li>
      <li>
        All plastic bottles can be recycled, from water bottles to salad
        dressing, so put all of them in your recycling container.
      </li>
      <li>
        It is not just newspapers that you can recycle at home. Also, recycle
        wrapping paper, envelopes, birthday cards and phone books. All sorts of
        cardboard can be recycled, too, even toilet and paper towel tubes.
      </li>
      <li>
        Most metallic items in the home can be recycled, such as empty spray
        cans and tin foil, and of course, all empty soda, fruit, vegetable and
        other food cans.
      </li>
      <li>
        Keep a space in your cupboard so that you can recycle as you are cooking
        or cleaning. It will make it easier for you to put the recyclables in
        their proper place.
      </li>
      <li>
        When going out, stop at your local recycling center and drop off
        anything that was not picked up by your curbside service. This lets you
        fit your recycling into your life, and will also teach your children
        about the importance of recycling.
      </li>
      <li>
        If you are ever unsure about what you can recycle, check with your
        refuse provider website. There should be comprehensive information about
        what is or is not suitable for your recycling container or containers.
        Most refuse providers also have apps for your smart phone where you can
        check what to and what not to recycle.
      </li>
      <li>
        Glass can be recycled endlessly; it does not wear out after several
        recyclings, so be sure to always recycle your glass bottles and
        containers.
      </li>
      <li>
        To help your recycling center and to keep down foul odors, make sure you
        wash food waste off of any plastic or glass food containers before
        putting them in the recycle bin.
      </li>
    </ol>
    <h2><strong>Recycling at School</strong></h2>
    <p>
      It is important to take our recycling habit into our schools; it is
      estimated that 80% of what is used at school can be recycled. Providing
      children and young adults with exposure to the importance of recycling can
      help to provide all of us with a greener and healthier community.
    </p>
    <p>
      If you want to get your school in on the recycling revolution, here’s how:
    </p>
    <ol>
      <li>
        The majority of recyclable material at schools is paper. Every
        classroom, eating space and office should have plenty of bins available
        for recycling paper.
      </li>
      <li>
        If there are any school supplies left over at year’s end, you can donate
        them to students in need or to a local organization that helps the
        needy.
      </li>
      <li>
        Begin a composting program in your school cafeteria to reduce the amount
        of food waste thrown away. Some cafeterias can use waste compactors that
        will reduce how much space kitchen and food waste occupies.
      </li>
      <li>
        Every cafeteria and eating space should have containers for plastic,
        paper and metal recycling.
      </li>
      <li>
        Common materials at school including aluminum, paper, cardboard and
        plastics are very easy for schools to compact into bales that can be
        hauled away by the recycling company.
      </li>
      <li>
        Every school administration should invest in effective recycling and
        waste management equipment, including automatic trash compactors that
        increase the efficiency of waste management in high traffic areas for
        students.
      </li>
      <li>
        Use
        <a
          href="https://www.reusethisbag.com/articles/school-fundraising-ideas/"
          >special fundraisers</a
        >
        for the school that promote recycling, such as selling custom reusable
        bags.
      </li>
      <li>
        Think about making schools as paperless as possible. Students and
        teachers can do a lot of their work with email, electronic documents and
        online rather than printing out many paper copies for students. Staff
        and administration for the school also should understand how to make
        minor changes that can make more of the school curriculum paperless.
      </li>
    </ol>
    <h2><strong>Recycling at Workplace</strong></h2>
    <p>
      The last major place you can make a difference in recycling is at work.
      Below are some ways that you can easily increase your recycling and
      reusing in the office:
    </p>
    <ol>
      <li>
        <strong>Pack lunch</strong>: By bringing your own lunch and snacks to
        the office in a reusable container (in a reusable bag rather than
        plastic one), you will reduce packaging waste and also spend less on
        going out to eat. The average worker in the US spends $37 per week on
        buying lunch. This can add up to $2000 per year or more.
      </li>
      <li>
        <strong
          >Bring your own coffee to work rather than buying coffee at work in
          throw away cups</strong
        >. Save the environment and your wallet.
      </li>
      <li>
        <strong>Make office supplies last longer</strong>. You can try to use
        pens, highlighters and markers more sparingly, and also keep them front
        and center so they are not forgotten in your desk drawers. And keep your
        markers, pens and glue sticks in a clean dry space as heat and exposure
        to sun make them dry out.
      </li>
      <li>
        <strong>Try to precycle your office supplies</strong>. This means
        thinking about recycling before you use anything. For example, you can
        use old newspaper to wrap things for the mail instead of bubble wrap.
        Use a reusable tape dispenser at your desk, and use paper clips instead
        of staples.
      </li>
      <li>
        <strong>Make your commute green</strong>. The average work commute
        produces 7,000 of carbon emissions per year. You can reduce this by
        carpooling, biking or walking. If you drive just 10% less per year, this
        can reduce greenhouse gas emissions by ⅓ for many people.
      </li>
      <li>
        <strong>Reduce your paper consumption</strong>. Each office worker in
        America uses 10,000 sheets of copy paper annually. This is 4 million
        tons of paper per year! Only print documents when absolutely necessary.
        Use email for most memos and office communications. Use both sides of
        copy paper when you can.
      </li>
    </ol>
  </body>
</html>
